/* 휴먼둥근헤드라인 */
@font-face {
    font-family: 'headline_rregular';
    src: url('fonts/hmkmrhd-webfont.eot');
    src: url('fonts/hmkmrhd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hmkmrhd-webfont.woff2') format('woff2'),
         url('fonts/hmkmrhd-webfont.woff') format('woff'),
         url('fonts/hmkmrhd-webfont.ttf') format('truetype'),
         url('fonts/hmkmrhd-webfont.svg#headline_rregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 나눔 고닥 */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: #d2d7dd;
    overflow-y: scroll;
    word-break: break-all;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


#container {
    width: 100%;
    height: 100%;
}

/* 헤더 부분 */
header {
    background-color: #152d70;
    padding: 0.5em;
}

.header-title a {
    font-family: '휴먼둥근헤드라인';
    color: #fff;
}

/* 검색 창 부분 */
#search {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5em;
    margin-top: 0.4em;
}

#search-text {
    height: 2em;
    float: left;
    padding: 2px 7px;
}

#search .wrong{
    outline-color: red;
    outline-width: 10px;
    animation: wrong .65s ease-out;
}

@keyframes wrong {
    0% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(1.05);
    }
    30% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(1);
    }
}

#search-button {
    width: 2em;
    height: 2em;
    float: left;
    padding: 2px;
}

/* 메인 콘텐츠 부분 */
#content {
    display: flex;
    width: 100%;
    height: calc(100vh - 59px - 2em);
}

/* 카테고리 관련 */
aside {
    background-color: #d2d7dd;
    float: left;
    width: 112px;
    height: 100%;
    padding: 1em;
}

#category {
    text-align: left;
}

#category-title {
    margin-bottom: 0.3em;
    padding-left: 0.3em;
}

.category-content {
    margin-top: 0.3em;
    padding-left: 0.3em;
    cursor: pointer;
}

.category-delete i {
    color: #f2f7fd;
    cursor: pointer;
    transition: .3s;
    margin-right: 5px;
}

.category-delete i:hover {
    color: #989ba0;
}

.category-delete i:active {
    transform: scale(0.8) translateY(3px);
}

.category-content a {
    color: #2a2a2a;
    transition: .3s;
}

.category-content a:hover {
    color: #aaaaaa;
}


/* 메인 페이지 */
#main {
    float: left;
    background-color: #f0fff0;
    width: 100%;
    height: calc(100vh - 59px - 2em);
    padding-bottom: 2em;
}


/* 최근 글 페이지(기본 페이지) */
#main-new-content {
    /* display: none; */
    background-color: #f0fff0;
    /*       상  우  하  좌       */
    padding: 1em 1em 1em 1em;
}

#main-new-content h2 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 0.5em;
}

/* 최근 글 */
.new-content {
    display: block;
    margin: 1em 0;
    color: #000;
    font-size: 1.2rem;
    word-break: break-all;
    cursor: pointer;
}

.new-content-title {
    display: inline;
    font-weight: bold;
    font-size: 2.1em;
}

.new-content hr {
    margin-top: 1em;
}

/* 글 작성 페이지 */
#main-create-screen {
    display: none;
    width: 100%;
    height: 100%;
}

#create-form {
    background-color: white;
    width: 1232px;
    height: 100%;
    padding: 15px;
}

/* 글 작성 첫 부분(뒤로가기, 제목, 카테고리) */
#create-head, #create-body {
    margin-bottom: 15px;
}

#create-head {
    display: flex;
    align-items: center;
}

#create-head .prev {
    border: none;
    background-color: white;
    font-size: 24pt;
    margin-right: 15px;
}

#create-head #create-title {
    width: 70%;
    padding: 4pt;
    margin-right: 10px;
}

#create-head #select-category {
    line-height: 30px;
    border: 1px solid black;
    padding: 5px 10px;
}

#create-category-button {
    width: 10%;
    border: 1px solid black;
    background-color: white;
    outline: 0;
    margin: 0 10px;
    padding: 5px;
    box-shadow: 0px 0px 3px grey;
    transition: .2s;
}

#create-category-button:active {
    box-shadow: none;
    transform: scale(0.95);
}

#create-category-dummy {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000025;
}

#create-category {
    display: none;
    position: fixed;
    right: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 30px 20px;
    margin-top: 3%;
    margin-right: 5%;
    text-align: center;
    box-shadow: 0 0 5px #000000;
    animation: size .25s ease-out;
}

@keyframes size {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#close-create-category-button {
    display: inline-block;
    cursor: pointer;
    margin-right: 0.18em;
    border: 1px solid black;
    padding: 2px 7.2px;
    transition: .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#close-create-category-button:hover {
    transform: scale(1.1) translateY(-3px);
}

#close-create-category-button:active {
    transform: scale(0.9) translateY(3px);
}

#close-create-category  {
    display: block;
    text-align: right;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #7f7f7f7f;
}

#close-create-category::before {
    content: '카테고리 추가';
    position: absolute;
    left: 0;
    margin-left: 1.5em;
    margin-top: 6px;
}

#create-category-name,
#create-new-category {
    display: inline-block;
    clear: both;
}

#create-category-name {
    padding: 0.5em;
    border: 1px solid black;
    transition: .3s ease-in-out;
}

#create-category-name:focus {
    transform: scale(1.03) translateY(2px);
}

#create-new-category {
    padding: 0.3em 0.1em 0.46em 0.1em;
    outline: 0;
    border: 1px solid black;
    background-color: white;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

#create-new-category:hover {
    border-color: #130900;
    transform: scale(1.05) translateY(2px);
}

#create-new-category:active {
    transform: scale(0.9) translateY(-2px);
}


/* 글 작성 중간 부분(글 작성) */
#create-body, #create-foot {
    padding-left: 5px;
}

#create-body {
    height: 80%;
}

#create-body #create-content {
    border: 1px solid black;
}

#create-body #create-commands {
    height: 7%;
}

#create-commands .create-command {
    display: inline-block;
    background-color: white;
    border: none;
    height: 30px;
    font-size: 14pt;
    padding: 5px;
    margin-right: 5px;
}

#create-body #create-content {
    padding: 5px;
    height: 85%;
    width: 1215px;
    overflow: auto;
}


/* 글 작성 끝 부분(저장 버튼) */
#create-foot {
    float: right;
}

#create-foot #content-save {
    border: 1px solid black;
    background-color: white;
    padding: 10px 20px;
}


/* 페이지 버튼들 */
#pages ul {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#pages ul li {
    float: left;
    font-size: 1.2em;
    margin-left: 1.2em;
}

#pages a {
    color: blue;
    transition: .5s;
}

#pages ul li a:hover {
    transform: scale(1.2);
}


/* 글 작성 버튼 */
#create {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-60px, -60px);
}

#create-button {
    width: 80px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    background-color: #68c3ff;
    padding: 0.5em;
    border-radius: 25px;
    color: #0000ff;
    border: none;
}

#create-button::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 80px;
    height: 25px;
    background-color: #52a2d8;
    border-radius: 25px;
    padding: 0.5em;
    z-index: -1;
}

#create-button:active {
    transform: translate(3px, 3px);
}

#create-button:active::after {
    background: none;
}

#create-button:focus {
    outline: none;
}

#create-button i {
    font-size: 1.3em;
}

#create-button span {
    font-family: sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
}


/* 검색 페이지 */
#main-search-screen {
    display: none;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
}

/* 검색하는 값 */
#result {
    font-size: 1.4em;
    font-weight: bolder;
}

#search-title {
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 1em 1em 1em;
}

#search-title::after {
    content: '';
    float: right;
    padding-top: 0.25em;
    border-bottom: 3px dashed black;
    width: 100%;
    height: 10px;
}

/* 검색된 내용 */
.searched-content {
    clear: both;
    padding: 1em 3em 1.5em 3em;
    cursor: pointer;
    transition: .25s ease-in-out;
    margin-right: 9px;
}

.searched-content:hover {
    transform: scale(1.015) translateY(2px);
}

.searched-content::after {
    content: '';
    float: right;
    padding-top: 0.25em;
    border-bottom: 2px solid black;
    width: 100%;
    height: 10px;
}

/* 검색된 내용의 제목 */
.searched-content-title {
    font-size: 1.5em;
    font-weight: bold;
}

/* 제목과 카테고리 중간의 붙임표 */
/* 검색된 내용의 카테고리 */
.searched-dash, .searched-content-category {
    font-size: 0.8em;
    font-weight: 300;
    color: #474747;
}

/* 검색된 내용의 내용 */
.searched-content-content {
    font-size: 1.15em;
    margin-top: 0.3em;
}

/* 본문 페이지 */
#main-content {
    display: none;
    background-color: white;
    width: 100%;
    height: calc(100vh - 59px);
}

/* 본문 페이지 머리 부분 */
#content-head {
    position: relative;
    border-bottom: 1px solid #101010;
    padding: 1em 1.5em;
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
}

#content-head > div, #content-head > button {
    display: inline-block;
}

/* 뒤로가기 버튼 */
.prev {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

/* 본문 제목 */
#content-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3.2em;
    font-weight: bold;
}

/* 본문 수정, 삭제 버튼 */
#content-buttons {
    float: right;
    margin-top: 2.2em;
}

#content-buttons > button {
    padding: 0.5em 1em;
    outline: 0;
    transition: .3s;
    background-color: white;
    border: 1px solid black;
}

#content-buttons > button:hover {
    transform: scale(1.1) translateY(-3px);
}

#content-buttons > button:active {
    transform: scale(0.9) translateY(3px);
}


/* 본문 페이지 목차 부분 */
#content-nav {
    display: inline-block;
    border: 1px solid #202020;
    padding: 1.5em;
    background-color: #fafafa;
    margin: 2em 0 2em 3.5em;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
}

#content-nav::after {
    content: '';
    border-bottom: 1px solid black;
    margin-top: 10px;
}

#content-toc {
    font-family: 'Nanum Gothic', sans-serif;
}

#content-toc-nav {
    margin-left: 0.5em;
    font-family: 'Nanum Gothic', sans-serif;
}

#content-toc-nav > li {
    margin-top: 0.5em;
}


/* 본문 페이지 본문 부분 */
#content-body {
    position: relative;
    padding: 1em 1.5em;
    border-top: 1px solid black;
    width: 93%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Nanum Gothic', sans-serif;
}

#content-body::after {
    content: '';
    background-color: transparent;
    height: 100%;
    width: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
}

#content-content {
    width: 1211px;
    padding-right: 1.5em;
}