@font-face {
    font-family: 'headline_rregular';
    src: url('fonts/hmkmrhd-webfont.eot');
    src: url('fonts/hmkmrhd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hmkmrhd-webfont.woff2') format('woff2'),
         url('fonts/hmkmrhd-webfont.woff') format('woff'),
         url('fonts/hmkmrhd-webfont.ttf') format('truetype'),
         url('fonts/hmkmrhd-webfont.svg#headline_rregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html, body {
    min-height: 100vh;
}

body {
    background-color: #d2d7dd;
    overflow-y: scroll;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


#container {
    width: 100%;
    height: 100%;
}

/* 헤더 부분 */
header {
    background-color: #152d70;
    padding: 0.5em;
}

.header-title a {
    font-family: '휴먼둥근헤드라인';
    color: #fff;
}

/* 검색 창 부분 */
#search {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5em;
    margin-top: 0.4em;
}

#search-text {
    height: 2em;
    float: left;
    padding: 2px;
}

#search-button {
    width: 2em;
    height: 2em;
    float: left;
    padding: 2px;
}

/* 메인 콘텐츠 부분 */
#content {
    display: flex;
    width: 100%;
    height: calc(100vh - 59px - 2em);
}

/* 카테고리 관련 */
aside {
    background-color: #d2d7dd;
    float: left;
    width: 112px;
    height: 100%;
    padding: 1em;
}

#cartegory {
    text-align: left;
}

#cartegory-title {
    margin-bottom: 0.3em;
    padding-left: 0.3em;
}

.cartegory-content {
    margin-top: 0.3em;
    padding-left: 0.3em;
}

.cartegory-content a {
    color: #2a2a2a;
    transition: .4s;
}

.cartegory-content a:hover {
    color: #2a2a2a55;
}


/* 메인 페이지 */
section#main {
    float: left;
    background-color: #f0fff0;
    width: 100%;
    height: calc(100vh - 59px - 2em);
    padding-bottom: 2em;
}


/* 최근 글 페이지(기본 페이지) */
article#main-new-contents {
    background-color: #f0fff0;
    /*       상  우  하  좌       */
    padding: 1em 1em 1em 1em;
}

#main-new-contents h2 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 0.5em;
}

.new-content {
    display: block;
    margin: 1em 0;
    color: #000;
    font-size: 1.2rem;
    word-break: break-all;
    cursor: pointer;
}

.new-content-title {
    font-weight: bold;
    font-size: 2.1em;
}


/* 글 작성 페이지 */
article#main-create-screen {
    display: none;
    width: 100%;
    height: 100%;
}

#create-form {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 15px;
}

/* 글 작성 첫 부분(뒤로가기, 제목, 카테고리) */
#create-head, #create-body {
    margin-bottom: 15px;
}

#create-head {
    display: flex;
    align-items: center;
}

#create-head .prev {
    border: none;
    background-color: white;
    font-size: 24pt;
    margin-right: 15px;
}

#create-head #create-title {
    width: 80%;
    padding: 4pt;
    margin-right: 15px;
}

#create-head #create-cartegory {
    width: 15%;
    padding: 4pt;
}

#create-body, #create-foot {
    padding-left: 5px;
}

/* 글 작성 중간 부분(글 작성) */
#create-body {
    height: 80%;
}

#create-body #create-content {
    border: 1px solid black;
}

#create-body #create-commands {
    height: 7%;
}

#create-commands .create-command {
    display: inline-block;
    background-color: white;
    border: none;
    height: 30px;
    font-size: 14pt;
    padding: 5px;
    margin-right: 5px;
}

#create-body #create-content {
    padding: 5px;
    height: 85%;
    overflow: auto;
}

/* 글 작성 끝 부분(저장 버튼) */
#create-foot {
    float: right;
}

#create-foot .content-save {
    border: 1px solid black;
    background-color: white;
    padding: 10px 20px;
}


/* 검색 페이지 */
article#main-search-screen {
    display: none;
    width: 100%;
    height: 100%;
}

/* 본문 페이지 */
article#main-content {
    display: none;
    width: 100%;
    height: 100%;
}


/* 페이지 버튼들 */
#pages ul {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#pages ul li {
    float: left;
    font-size: 1.2em;
    margin-left: 1.2em;
}

#pages a {
    color: blue;
    transition: .5s;
}

#pages ul li a:hover {
    transform: scale(1.2);
}


/* 글 작성 버튼 */
#create {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-60px, -60px);
}

#create-button {
    width: 80px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    background-color: #68c3ff;
    padding: 0.5em;
    border-radius: 25px;
    color: #0000ff;
    border: none;
}

#create-button::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 80px;
    height: 25px;
    background-color: #52a2d8;
    border-radius: 25px;
    padding: 0.5em;
    z-index: -1;
}

#create-button:active {
    transform: translate(3px, 3px);
}

#create-button:active::after {
    background: none;
}

#create-button:focus {
    outline: none;
}

#create-button i {
    font-size: 1.3em;
}

#create-button span {
    font-family: sans-serif;
    color: #f0f0f0;
    font-size: 1.2em;
}